@charset "utf-8";

/* SOLAR SYSTEM PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 스크롤바 안보이게 하기 */
body{
  -ms-overflow-style: none;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

/* 토성 컨텐츠 영역 */

#cont {
  width: 100%;
  position: relative;
  top: 0;
}

.banner {
  background-color : #131313;
}



.cont .banner .img-banner .sl1 {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.cont .banner .img-banner .sl1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont .banner .img-banner .sl1::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: .6;
  z-index: 1;
}

.cont .banner .img-banner .sl1 .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}

.cont .banner .img-banner .sl1 .text > span {
      display: block;
      color: #fff;
      font-family: 'Bebas Neue';
      font-size: 83px;
      text-align: center;
      line-height: 1;
      color: #e3ed21;
      white-space: nowrap;
} 

.cont .banner .img-banner .sl1 .text p {
      display: block;
      color: #fff;
      font-family: 'Bebas Neue';
      font-size: 83px;
      text-align: center;
      line-height: 1;
      color: #e3ed21;
      white-space: nowrap;
}

.cont .banner .img-banner .sl1 .text .more-button {
  width: 204px;
  height: 61px;
  border: 1px solid #e3ed21;
  background-color: transparent;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.cont .banner .img-banner .sl1 .text .more-button a {
  display: inline-block;
}

.cont .banner .img-banner .sl1 .text .more-button a::after {
    content: '';
    display: inline-block;
    background: url(../img/arrow_white.svg) no-repeat 0 10px;
    width: 30px;
    height: 33px;
    vertical-align: -8px;
    transition: all .4s;
    margin-left: 15px;
}

.cont .banner .img-banner .sl1 .text .more-button span {
  color: #e3ed21;
  font-size: 25px;
  font-family: 'Bebas Neue';
  white-space: nowrap;
  text-align: center;
  line-height: 61px;
}

.cont .banner .img-banner .sl1 .text .more-button:hover span {
  color: #fff;
}

.cont .banner .img-banner .sl1 .text .more-button a:hover::after {
  margin-left: 30px;
}

.saturn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #151515;

}

.saturn-info span {
  color: #fff;
  font-size: 35px;
  font-family: Metropolis;
  font-weight: bold;
  padding-right: 37px;
}

.buttons {
  position: relative;
  overflow: hidden;
  width: 513px;
  height: 40px;
}

.slider {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > li {
  font-family: Metropolis;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
  flex-basis: 100%;
}

.slider > li > div:first-child {
  font-size: 16px;
  color: #b77f3f;
}

.slider > li > div:last-child {
  font-size: 20px;
  color: #fff;
}

.saturn-more {
  width: 100vw;
  height: 38px;
  background-color: #f2bd6e;
}

.saturn-more span {
  display: block;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: normal;
}

.saturn-more span::after {
  content:'';
  display: inline-block;
  width: 24px;
  height: 16px;
  background: url(../img/ui_sprite@2x.png) no-repeat -113px -268px;
  vertical-align: -1px;
  margin-left: 10px;
}

.con {
  padding-top: 54px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.con * {
  color: #000;
}

.con .left-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 24vw;
}

.con .left-menu ul:first-child a,
.con .left-menu .hidden-ul a {
  display: block;
  width: 104px;
  padding: 12px 0;  
  margin-left: 40px;
  font-family: 'Metropolis';
  font-size: 1.35rem;
  font-weight: 500;
  position: relative;
  opacity: .5;
}

.con .left-menu ul:first-child a:hover {
  opacity: 1;
}

.con .left-menu ul:first-child li:first-child > a:first-child {
  color: #3b6884;
  opacity: 1;
  padding: 0;
  padding-bottom: 15px;
}

.con .left-menu .hidden-ul a {
  font-family:'Metropolis';
  font-size: 17px;
}

.cont .con .left-menu ul li a {
  transition: all .5s;
}

.con .left-menu .hidden-ul li {
	display: none;
}

.con .left-menu .hidden-smenu {
  display: none;
}

.con .right-menu {
  width: 76vw;
  height: 100%;
}

.con .right-menu > section {
  margin-bottom: 80px;
}

.con .right-menu > section > h2 {
  font-family: 'Metropolis';
  font-size: 3.54rem;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 40px;
}

.con .right-menu .history p {
  padding: 0 80px;
  margin: 0 auto;
  font-family: 'Metropolis';
  font-size: 20px;
  line-height: 1.5;
}

.con .right-menu .history .buttons {
  padding-left: 80px;
  display: flex;
  gap: 20px;
  margin-top: 35px;
}


.con .right-menu .history .buttons > div {
  width: 78px;
  height: 38px;
  background-color: #1d56a3;
  border: 1px solid #10305c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con .right-menu .history .buttons > div a {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  line-height: 38px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

.con .right-menu .history .buttons > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.con .right-menu .history .buttons > div > div::before {
  content: '';
  display: inline;
  width: 11px;
  height: 11px;
  background: url(../img/다운로드이미지.png) no-repeat center center;
  margin-right: 5px;

}

/* CENTER-MENU */

.cont .con > .center-menu {
  width: 100%;
  height: 100%;
}

/* IN DEPTH */

.cont .con .center-menu .depth {
  width: 100%;
  height: 100%;
  background-color: #d1dde6;
}

.cont .con .center-menu .depth .depth-inner {
  padding: 0 18%;
}

.cont .con .center-menu .depth .depth-inner h2 {
  text-align: center;
  padding-top: 82px;
  padding-bottom: 60px;
  font-family: 'Metropolis';
  font-size: 3.65rem;
}

.cont .con .center-menu .depth .depth-inner .grid-all {
  display: inline-block;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li {
  padding: 0 45px;
  padding-bottom: 40px;
  border-right: 1px solid #b0cadd;
  border-bottom: 1px solid #b0cadd;
  width: 20%;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li:nth-child(3n) {
  border: none;
  border-bottom: 1px solid #b0cadd;
}



.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li .grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li .grid-wrapper .circle {
  background-color: #b0cadd;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li:nth-child(n+4) .grid-wrapper .circle {
  margin-top: 40px;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li .grid-wrapper .circle span {
  font-size: 26px;
  display: block;
  font-family: 'Metropolis';
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li .grid-wrapper > span {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 28px;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li .grid-wrapper p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 26px;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li .grid-wrapper a {
  color: #63afed;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li:nth-child(4) {
	background: url(../img/depth_01.jpg) no-repeat center/cover;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li:nth-child(4) p {
	color: #fff;
	padding-top: 30px;
	font-family: 'Metropolis';
	font-size: 1.8rem;
	font-style: italic;
	line-height: 1.5;
	font-weight: bold;
}

.cont .con .center-menu .depth .depth-inner .grid-all .grid-list li:nth-child(4) span {
	color: #63B3EB;
	font-size: 1.5rem;
  text-align: center;
}

/* MISSIONS */

.cont .con .center-menu .exploration {
  width: 100%;
}

.cont .con .center-menu .exploration .ex-inner {
  padding: 0 18%;
  margin-top: 35px;
}

.cont .con .center-menu .exploration .ex-inner > h2 {
  font-size: 3.65rem;
  font-family: 'Metropolis';
  letter-spacing: -1px;
  color: #3a3a3a;
  margin-bottom: 40px;
}

.cont .con .center-menu .exploration .ex-inner .menu-div {
  display: flex;
}

.cont .con .center-menu .exploration .ex-inner .menu-div a {
  display: inline-block;
  font-size: 1.35rem;
  font-family: 'Metropolis';
  color: #959696;
}

.cont .con .center-menu .exploration .ex-inner .menu-div a:first-child {
  padding-right: 14px;
  border-right: 2px solid #959696;
}

.cont .con .center-menu .exploration .ex-inner .menu-div a:last-child {
  padding-left: 16px;
}

.cont .con .center-menu .exploration .ex-inner .menu-div a:hover {
  color: #3a3a3a;
}

.cont .con .center-menu .exploration .ex-inner .ex-con {
  margin-top: 33px;
  margin-bottom: 33px;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul {
  display: flex;
  flex-direction: column;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li:hover::after  {
  content: '';
  background-color: #d1dde6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  animation: li .4s ease-in-out;
}

@keyframes li {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li > div {
  padding-top: 16px;
  padding-bottom: 21px;
  display: flex;
  gap: 23px;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li .img-box {
  max-width: 284px;
  max-height: 211px;
  aspect-ratio: 1.5 / 1;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li .img-box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li h2 {
  font-size: 1.95rem;
  font-family: 'Metropolis';
  color: #3a3a3a;
  padding-top: 13px;
  padding-bottom: 14px;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li span {
  display: block;
  font-size: 1.32rem;
  color: #98969d;
  margin-bottom: 17px;
}

.cont .con .center-menu .exploration .ex-inner .ex-con ul li p {
  font-size: 1.55rem;
  font-family: 'Metropolis';
  line-height: 1.3;
  color: #3a3a3a;
}

.cont .con .center-menu .exploration .ex-inner .ex-con .ex-past-list {
  display: none;
}

/* GALLERIES */

.cont .con .center-menu .galleries {
  width: 100%;
}

.cont .con .center-menu .galleries .gal-inner {
  padding: 0 18%;
}

.cont .con .center-menu .galleries .gal-inner h2 {
  font-size: 3.65rem;
  font-family: 'Metropolis';
  letter-spacing: -1px;
  color: #3a3a3a;
  margin-bottom: 40px;
}

.cont .con .center-menu .galleries .gal-inner .gal-theme {
  display: flex;
  margin-bottom: 33px;
}

.cont .con .center-menu .galleries .gal-inner .gal-theme a {
  display: inline-block;
  font-size: 1.35rem;
  font-family: 'Metropolis';
  color: #959696;
  padding: 0 15px;
}

.cont .con .center-menu .galleries .gal-inner .gal-theme a:first-child {
  padding-left: 0;
}

.cont .con .center-menu .galleries .gal-inner .gal-theme a:first-child,
.cont .con .center-menu .galleries .gal-inner .gal-theme a:nth-child(2) {
  border-right: 2px solid #98969d;
}

.cont .con .center-menu .galleries .gal-inner .gal-theme a:hover {
  color: #3a3a3a;
}

.cont .con .center-menu .galleries .gal-inner .gal-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.cont .con .center-menu .galleries .gal-inner .gal-list li {
  position: relative;
  transition: all .4s;
}

.cont .con .center-menu .galleries .gal-inner .gal-list div:first-child {
  margin-bottom: 35px;
}

.cont .con .center-menu .galleries .gal-inner .gal-list div img {
  width: 233px;
  height: 175px;
}

.cont .con .center-menu .galleries .gal-inner .gal-list div:first-child span {
  display: block;
  width: 177px;
  margin-top: 10px;
  font-family: 'Metropolis';
  color: #3a3a3a;
  font-size: 1.35rem;
  font-weight: bold;
  line-height: 1.3;
}

.cont .con .center-menu .galleries .gal-inner .gal-list .black-hide {
  display: none;
}

.cont .con .center-menu .galleries .gal-inner .gal-list li:hover::after {
  content: '';
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
}

.cont .con .center-menu .galleries .gal-inner .gal-list li:hover .black-hide {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  padding-top: 15px;
  z-index: 9999;
}


.cont .con .center-menu .galleries .gal-inner .gal-list li:hover .black-hide span {
  color: #fff;
  font-family: 'Metropolis';
  font-size: 1.4rem;
  line-height: 1.3;
}

