@charset "utf-8";

/* 스프라이츠 애니 CSS - main.css */

/* 웹폰트 CDN */
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|ZCOOL+KuaiLe&display=swap);
/*
    웹폰트체
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'ZCOOL KuaiLe', cursive;
*/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8cc63e;
}

/* 공통class */
.ir {
    /* IR(배경설명숨기기) */
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 1. 타이틀 */
.mtit {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 52px;
    z-index: 1;
}

/* 2.메뉴 */
.gnb {
    position: absolute;
    top: 15vh;
    left: 2vw;
    z-index: 1;
}

.gnb > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gnb a {
    color: #fff;
    text-decoration: none;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 32px;
    line-height: 3;
}

/* 마우스 오버시 */

.gnb a:hover {
    color: #f00;
    text-decoration: line-through;
}

/* 3. TV셋 */

.tvset {
    position: relative; /* screen의 부모자격 */
    width: 1280px;
    height: 720px;
    background: url(../images/tvset.png) no-repeat;
    /* 마영오 */
    background-position-x: -36px;
    margin: 0 auto;
}

/* 스크린 */
.screen {
    position: absolute;
    top: 213px;
    left: 414px;
    width: 454px;
    height: 228px;
    /* 배경 넣기 */ background: url(../images/street.jpg) repeat-x;
    background-size: auto 100%;
    background-color: red;

    /* 애니메이션 호출 */ animation: street 4s linear infinite;
}

/* 스크린 배경이동 키프레임 */
@keyframes street {
    to {
        background-position: -388px 0;
    }
}

/* 3-1.걷는존 */

.spani1 {
    position: relative;
    width: 100px;
    height: 176px;
    margin: 0 auto;
    margin-top: 25px;
    background: url(../images/spAni03.png) no-repeat;
    background-size: auto 100%;
    animation: spani1 1s steps(8) infinite;


    /* outline: 3px solid red; */
}

/* 걷는 존 키프레임 */
@keyframes spani1 {
    to{
        background-position: -797px 0;
    }
    /* 배경이미지 x축 이동일 경우, 줄였을 때 이미지 전체 가로크기를 - 값으로 써주면 된다. */
    
}


/* 3-2.꼬마 */

.spani2 {
    position: absolute;
    bottom:0;
    left:0;
    width: 50px;
    height: 72px;
    background: url(../images/spAni01.png) no-repeat;
    animation: spani2 1s steps(10) infinite;
}

/* 꼬마 키프레임 */

@keyframes spani2 {
    to {
        background-position: -500px 0;
    }
}

/* 3-3.몬스터 */

.spani3 {
    position: absolute;
    bottom: 0;
    right:0;
    width: 118px;
    height: 118px;
    background: url(../images/spAni02.png) no-repeat;
    animation: spani3X 1s steps(6) infinite,
               spani3Y 3s steps(3) infinite;
}

/* 몬스터 키프레임 x축 */
@keyframes spani3X {
    to {
        background-position-x: -710px;
    }
}

/* 몬스터 키프레임 y축 */
@keyframes spani3Y {
    to {
        background-position-y: -355px;
    }
}

/* 웃는 모나리자 */

.spani4 {
    position: absolute;
    top:7vh;
    right:0;
    width: 256px;
    height: 407px;
    background: url(../images/girl_frames.png) no-repeat;
    border: 20px ridge brown;
    transform: scale(.7);
    animation: spani4X .8s steps(5) infinite,
               spani4Y 2.4s steps(3) infinite;
}

@keyframes spani4X {
    to {
        background-position-x: -1280px;
    }
}

@keyframes spani4Y {
    to {
        background-position-y: -1222px;
    }
}

/* 확대 애니메이션 class */

.big {
    transition: all .8s;
}

.big:hover {
    transform: scale(3);
    animation-play-state: paused;
    z-index:1;
}


/* 웃는 여자용 */
.big2:hover {
    transform: scale(.7);
}

/* 3-4. 흐르는 자막 */
/* 이동 애니메이션은 ol */
.fcap > ol {
    position: relative;
    left: 0;

    width: 200%;/* 두배크기 */

    display: flex;

    white-space: nowrap; /* 줄바꿈 방지 */

    list-style: none;
    margin: 0;
    padding: 0;

    animation: fcap 4s linear infinite;

    /* outline: 2px dotted orange; */
}

.fcap > ol > li {
    flex:1; /* 등분할 */
    text-align: center;
    /* outline: 2px dotted lime; */

    font: bold 14px/20px Verdana;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.fcap {
    position: absolute;

    /* 가로 크기는 스크린 만큼 */ width: 100%;

    overflow: hidden;
}



/* 흐르는 글자 키프레임 */

@keyframes fcap {
    to {
        left: -50%;
    }
}

/* 키프레임 */
