@charset "utf-8";
.atit {
    font-size:30px;
    font-weight:normal;
    font-family:'굴림',sans-serif;
    letter-spacing:-2px;
    word-spacing:-1px;
}
.afig {
    text-align:center;
}
.afig small {
    font-family:gulim;
    color:#555;
}