@charset "utf-8";

/* import로 파일 합치기
   -> 외부 css 파일에서 다른 외부 파일 불러올 때 장점
   -> html 파일에서 link 요소로 호출할 경우
      HttpRequest이 많아져 페이지 랜더링 속도에 영향
   -> import 방식을 쓰면 더 적은 웹 요청에 따라 처리 속도에 도움
   -> 주의: import는 css파일 상단에서 처리한다.
*/

@import url('./common.css');

/* main-box */

.cont {
    padding: 15px;
}

/* 언론사 로고 */
.prlogo img {
    height:32px;
    /* 이미지는 가로,세로 중 한쪽만 주면 자동 비율 유지 */
}

/* 기사 제목 */
.atit {
    font-size:30px;
    font-weight:normal;
    font-family:'굴림',sans-serif;
    letter-spacing:-2px; 
    /* 글자간격(자간): letter-spacing 기본값: 0,normal */
    word-spacing:-1px;
    /* 단어간격 : word-spacing */
    /* white-space:nowrap; */
    /* 줄바꿈 방지: 공백 white-space :normal(default)
       -> normal 박스 끝에서 줄바꿈
       -> nowrap 박스 끝에서 줄바꿈 되지 않고 계속 감
       -> 사용: 줄바꿈이 되면 안될 때
       ex) 한줄에 오는 버튼 글자, 한줄에 말 줄임표
    */
}

/* 기사 사진 */
.afig {
    margin: 15px 0;
    text-align:center;
}

.afig img {
    width:100%;
}

/* 기사 이미지 설명 */
.afig small {
    font-family:gulim;
    color:#555555;
}

/* 기사 내용 */
.arti p {
    font-size:17px;
    line-height:1.5;
    padding:0 10px;
    letter-spacing:-1px;
    font-family:gulim;
    /* text-indent:20px; */
    /* 양쪽 정렬 */ text-align: justify;
}

.arti p mark {
    display:block;
    font-size: 20px;
    line-height:2;
    padding:20px 50px;
    text-align:center;
    background-color:#e9e9e9;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin:10px 0; 
    font-family:'맑은 고딕';
    font-weight:normal;

}

.arti p em {
    /* text-shdaow: x축 y축 그림자경계흐림 색 */
    text-shadow: 2px 2px 2px rgba(139,0,139,.3);
    font-style:normal;
    color:darkmagenta;
    font-weight: bold;
}

/* 기자 정보 */
.rpt {
    font-size:14px;
    background-color:rgb(218, 215, 215);
    display:inline-block;
    padding: 5px;
    margin: 15px 0;
}
.cont > h5 {
    text-align: right;
}
.cont > h5 a {
    display:inline-block;
    margin: 20px 0;
    padding: 0;
    width:70px;
    height:70px;
    border: 2px solid #dbdbdb;
    text-align:center;
    line-height:70px;
    border-radius:50%;
    background-color: lightsteelblue;
}

/* 가상 클래스로 오버 시 박스 그림자 넣기 */

.cont > h5 a:hover {
    box-shadow: 0 0 5px darkblue; 
}

/* 메인 공통 article 박스 디자인 */
.cont article {
    border-top: 2px dashed #ccc; /* 구분선 */
    margin-top: 40px; /* 구분선 위 여백 */
    padding: 15px;
}

/* 각 파트별 공통 타이틀 */

.cont article h5 {

    display:inline-block;
    padding:10px 20px;
    background-color: whitesmoke;
    margin:0;
    border-radius: 20px;

    /* 내부 그림자 */
    /* inset은 내부 그림자 설정 */
    box-shadow: inset 0 0 5px rgb(0, 0, 0,.462);
    letter-spacing:-2px;
    font-weight: normal;
    font-size: 20px;
    color: #333;
}

.cont h3 {
    font-family:'Do Hyeon',sans-serif;
    font-weight: normal;
    font-size: 26px;
    text-indent: 20px;
    color: #333;
}

/* 주해 */
.desc div {
    padding: 20px 5px 0; /* 위 양쪽 아래 */
    line-height: 1.8; /* 줄 간격 */
    letter-spacing: -2px; /* 자간 */
    text-align: justify; /* 양쪽 정렬 */
}

.qb blockquote {
    margin: 0; /* 기본 마진 없애기 */
    padding: 20px 5px 0; /* 위 양쪽 아래 */
    line-height: 1.5; /* 줄 간격 */
    letter-spacing: 0; /* 자간 */
    text-align: justify; /* 양쪽 정렬 */
    font-size: 14px;;
}

/* 오늘의 작품 */
.work {
    text-align:center;
    background-image: linear-gradient(45deg, rgb(249, 249, 5),rgb(255, 157, 0));
    /* linear-gradient(방향, 색1 %, 색2 %...)
        * 방향에 각도를 쓰면 그라데이션 각도가 표현됨 (deg)
        * 색상을 콤마로 나열하면 등분할하여 그라데이션 표현
        * 색상 뒤에 % 수치를 쓰면 특정 비율을 나타낼 수 있다
     */
     background-clip: content-box; 
     /* 배경옵션 : 배경이 칠해지는 범위
        1. border-box : border까지(기본값)
        2. padding-box : padding까지
        3. content-box : content 영역까지(bd,pd빠짐) */
}

/* 작품명 */
.work figcaption {
    font-family: 'Nanum Brush Script';
    font-size: 25px;
}

.work figcaption cite {
    font-style:normal;
}

/* 작품 이미지 */

.work img {
    border: 10px ridge goldenrod;            
}

/* 파트별 a 링크 요소 공통 디자인 */

.cont article a {
    font-size: 17px;
    line-height:2.5;
    letter-spacing: -1px;
}

/* hover */
.cont article a:hover {
    color: greenyellow;
    text-shadow: 1px 1px 1px #333;
}

/* 공통 ul */
.cont article ul {
    list-style-type:square;
}

/* 공통 ol */

.cont article ol {
    list-style-type:upper-roman;
}

/* 주요 뉴스 li별 글자색 변경 */
.cont article ul li:first-child a {
    color:aqua;
}
.cont article ul li:nth-child(2) a {
    color:blue;
}
.cont article ul li:last-child a {
    color:green;
}

/* CSS 우선순위 */
/*  type < class < id < inline style < !important
    더 쎈 선택자이어도 부모요소를 업고 있는 것이 더 쎄다
*/

/* 불릿과 글자 사이 간격 주기 */

.cont article ul li,
.cont article ol li {
    padding-left: 10px;
}

/* 분야별 뉴스 */
/* 각 분야명 dt 공통 디자인 */
.secnews dt {
    font-family:'Do Hyeon',sans-serif;
    font-size: 20px;
    display:inline-block; /* 글자 크기만큼 디자인 적용 */
    border: 5px dashed darkseagreen;
    padding: 10px;
    border-radius: 50%;
    margin-left:20px;
    box-shadow: 0 0 5px 5px rgb(139, 0, 139,.5);
}

/* 앞에 dd가 있는 dt만 margin top 밀기 */
.secnews dd + dt {
    margin-top: 15px;
}
/*
 [여러 종류가 섞여 있을 경우 형제 선택하기]
 요소:first-of-type -> 같은 요소 중 첫번째
 요소:nth-of-type(n) -> 같은 요소 중 n번째
 요소:last-of-type -> 같은 요소 중 마지막
*/
/* dt별 글자 색 다르게 하기 */
.secnews dt:first-of-type {
    color: blue;
}
.secnews dt:nth-of-type(2) {
    color: green;
}
.secnews dt:last-of-type {
    color: red;
}


/* dd 공통 */
.secnews dd {
    margin-left: 100px;
}