@charset "utf-8";
@import url("cal.css");

body {
    padding: 0;
    margin: 0;
}

/* 제목 */
.mtit{
    text-align: center;
}

/* 달력넣을 부모박스 */
.wrap{
    display: flex;
    padding-top: 50px;
    padding-left: 20px;

}

.mybx {
    flex: 1; /* 등분할 */
}

/* 입력부모 두번째 박스 */
.mybx:nth-child(2){
    margin-left: 50px;
}