@charset "utf-8";

/* 어벤져스 CSS - avengers.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap');

/* 
    font-family: 'Monoton',cursive;
    font-family: 'Single Day',cursive;

*/

html {
    scroll-behavior: smooth;
    /* 이동 시 스크롤 애니메이션 작동됨 */
}

/* 초기화 */
html,body,h1,h2,ul,ol {
    margin: 0;
    padding: 0;
}

/* 초기셋팅 */
a {
    color: #fff;
    text-decoration: none;
}

/* 배경 이미지 채우기 */
body {
    background: url(../ab_img/space.jpg) no-repeat fixed center/cover;
    /* overflow: hidden; */ /* 전체 body 스크롤바 숨기기 */
}

/* body의 높이값을 보이는 화면에 맞추기 */
html,body {
    height: 100%;
    /* 
        body 100%는 html을 기준하고,
        html 100%는 window(보이는 화면) 기준
        % 셋팅 시 html,body 모두 셋팅해야 적용된다.
        ____________________________________________
        가끔 width: 100%을 잡는 경우가 있는데 아무것도 안 주면 width: auto이다.
        둘 간의 차이는?
        width: 100%는 content 영역 크기를 채우도록 셋팅한 것. 따라서, border,padding 줄 시 box가 커지고, 스크롤바가 생김
        특별한 경우가 아니라면, width: auto로 유지시킨다. (border,padding이 내부에 포함한다)
    */
}

/* 0. 전체 타이틀 */
.tit {
    /* 고정 포지션 */
    position: fixed;
    width: 100%;
    z-index: 9999; /* 가장 위! */

    /* 글자 */
    font-family: 'Monoton',cursive;
    color: #fff;
    font-size: 70px;
    font-weight: normal;
    text-align: center;

    /* 패딩 */
    padding: 50px 0; /* 위아래 패딩 */
}

/* 1. 페이지 박스 공통 */
.page {
    height: 100%; /* 한 페이지 당 보이는 화면 만큼 크기 확장 설정 */
    position: relative; /* .gobtn의 부모 */
}


/* 2. 전체 메인 캐릭터 박스 */
.abx {
    width: 300px;
    height: 400px;
    background: url(../ab_img/ab0.jpg) no-repeat center/cover;
    border-radius: 50%; /* 둥근모서리 -> 원형 */
    margin: 0 auto; /* 마영오! */
    box-shadow: 0 0 50px 10px cyan,
                inset 0 0 20px lightgreen; /* 글로우 효과: 박스 쉐도우 */
    position: relative; /* 부모자격 .cbx의 부모 */
    top: 210px; /* .cbx 높이만큼 밑으로 내리기 */
}

/* 캐릭터박스 */
.abx .cbx {
    position: absolute; /* 앱솔루트 포지션
                           위치값 주기 전 상태 - 모두 겹치고, 싸고 있는 박스 안에 있고(젠틀), 크기는 내용만큼 자동
                        */


    /* 앱솔루트 자식박스 부모박스의 정중앙 보내기
        top: calc(50% - 자기 height 절반);
        left: calc(50% - 자기width 절반);
    */

    top: calc(50% - 75px);
    left: calc(50% - 75px);
    /* 박스 크기 설정 */
    width: 150px;
    height: 150px;
    /* outline: 3px dotted yellow; */ /* 박스 테두리 */

    /* 처음에 투명 */ opacity: 0;
    
    transition: .8s ease-in-out;
}

.abx .cbx img {
    border-radius: 50%;/* 이미지 둥글게 */
    box-shadow: 0 0 30px lightgreen;/* 글로우 효과 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body:hover .cbx {
    opacity: 1;
}

/* 2-1. 아이언맨 */
body:hover .cbx:nth-child(1) {
    top: -10%;
    left: -71%;
}

/* 2-2. 타노스 */
body:hover .cbx:nth-child(2) {
    top: -10%;
    left: 115%
}

/* 2-3. 토르 */
body:hover .cbx:nth-child(3) {
    top: 60%;
    left: -71%;
}

/* 2-4. 닥스 */
body:hover .cbx:nth-child(4) {
    top: 60%;
    left: 115%;
}

/* 2-5. 스타로드 */
body:hover .cbx:nth-child(5) {
    top: 115%;
}

/* 캐릭터 설명박스 공통 */
.cbx .cd {
    position: absolute;
    top: 20%; /* 처음에 내려가 있고 오버시 0으로 top 값 올라오기 */

    /* 글자 셋팅 */
    font-family: 'Single Day',cursive;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

    /* 박스 셋팅 */
    width: 300px;

    /* 처음에 박스 숨기기 */
    height: 0;
    overflow: hidden;

    /* 처음에 투명하게 */
    opacity: 0;

    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out;

}

/* .cd 직계 하위 div로 디자인 이전
-> 만든이유: height:0으로 숨기려는데 padding,border 때문에 숨겨지지 않음.
             따라서, 이것을 직계 하위 박스로 이전
*/

.cbx .cd > div {
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.402);
}

/* .cbx에 오버시 글자박스 보이기 */
.cbx:hover .cd {
    opacity: 1;
    top: 0;
    height: auto;
    /* 
        전체적으로 트랜지션 설정되어 있으나,
        height 값이 특정값이 아니라, auto일 경우 애니메이션 되지 않음.
    */
}

/* 왼쪽 진영 글자박스 클래스 */
.ltxt {
    left: -230%;
}

/* 왼쪽 진영 제목 오른쪽 정렬 */
.ltxt h2 {
    text-align: right;
}

/* 오른쪽 진영 글자박스 클래스 */
.rtxt {
    right: -230%;
}

/* 예고편 페이지 */

/* 서브타이틀 */
.subtit {
    position: sticky;
    top: 115px;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

/* 동영상 박스 */
.mvbx {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

/* 아이프레임 */
.mvbx iframe {
    /* 아이프레임 부모박스에 맞춤 */
    width: 100%;
    height: 100%;
    border: none;
}

/* 이동버튼 디자인 */
.gobtn {
    font-size: 30px;
    right: 3%;
    position: absolute;
}

/* 가상 클래스로 화살표 모양 넣기 */
#pg1 .gobtn::after {
    content: '👆';
    margin-left: 10px;
}

#pg2 .gobtn::after {
    content: '👇';
    margin-left: 10px;
}

/* 개별 위치 */
#pg1 .gobtn {
    bottom: 2%;
}

#pg2 .gobtn {
    top: 2%;
}