@charset "utf-8";

@import url('reset.css');

body {
    background-color: #000;
    font-size: 16px;
    font-family: 'Pretendard';
}

.main-header {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255,.5);
    position: absolute;
    top: 0;
    z-index: 1;
}

.main-header .header-inner {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-header .header-inner .logo {
    width: 127px;
    height: 100%;
}

.main-header .header-inner .logo a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px 0;
}

.main-header .header-inner .logo a img {
    width: 127px;
    height: 50px;
}

.main-header .header-inner .center-menu {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-header .header-inner .center-menu .menu-list {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-header .header-inner .center-menu .menu-list > li {
    height: 100%;
    position: relative;
}

.main-header .header-inner .center-menu .menu-list > li > a {
    padding: 39px 60px;
    color: #fff;
    font-size: 1.12rem;
    letter-spacing: -6%;
    font-weight: bold;
    line-height: 100px;
    white-space: nowrap;
}

.main-header .header-inner .center-menu .menu-list .sub-menu {
    display: none;
}

.main-header .header-inner .center-menu .menu-list > li:hover .sub-menu {
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
}

.main-header .header-inner .center-menu .menu-list > li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(0,0,0,.5);
}

.main-header .header-inner .center-menu .menu-list > li .sub-menu::after {
    content: '';
    position: absolute;
    z-index: -4;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(0,0,0,.5);
}

.main-header .header-inner .center-menu .menu-list .sub-menu li a {
    display: block;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 1.12rem;
    padding: 20px 10px;
}


.main-header .header-inner .right-menu {
    display: flex;
    gap: 84.5px;
    align-items: center;
    position: absolute;
    right: 0;
}

.main-header .header-inner .right-menu .lang {
    display: flex;
    align-items: center;
}

.main-header .header-inner .right-menu .lang a {
    color: #fff;
    font-size: 1.12rem;
    font-weight: bold;
    padding: 19px;
}

.main-header .header-inner .right-menu .lang span {
    display: block;
    width: 1px;
    height: 11.5px;
    background-color: #fff;
    opacity: .5;
}

.main-header .header-inner .right-menu .lang a:nth-of-type(2) {
    opacity: .5;
}

.main-header .header-inner .right-menu .ham a {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-header .header-inner .right-menu .ham span:nth-child(1),
.main-header .header-inner .right-menu .ham span:nth-child(3) {
    display: block;
    width: 29px;
    height: 2px;
    background-color: #fff;
}

.main-header .header-inner .right-menu .ham span:nth-child(2) {
    display: block;
    width: 19px;
    height: 2px;
    background-color: #fff;
}

