@charset "utf-8";

@import url('reset.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

/* body * {
    outline: 1px dashed red;
} */

header.main-header {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 3;
}
.gnb {
    height: 105px;
    display: flex;
    justify-content: space-between;
    padding: 0 43px;
    transition: all .4s ease-in-out;
}

.left-menu {
    display: flex;
    align-items: center;
}

.left-menu .logo a {
    display: block;
    width: 95px;
    height: 105px;
    position: relative;
}

.left-menu .logo a img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-menu .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-menu .menu > li > a {
    position: relative;
}

.left-menu .menu a {
    color: #fff;
    font-family:'Noto Sans KR';
}

.left-menu .menu > li > a:hover {
    background: linear-gradient(to right,red 20%,blue 60%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.left-menu .menu > li > a:hover::after {
    content: '';
    display: block;
    width: 88px;
    height: 4px;
    background-color: #84afff;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-wrapper {
    margin-left: 120px;
}

.smenu {
    position: absolute;
    display: none;
    width: 100%;
}

.menu > li::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 98px;
    background-color: #fff;
    display: none;
    z-index: -1;
}

.menu > li:first-child:hover .smenu {
    display: block;
    position: absolute;
    z-index: 1;
}

.menu > li:nth-child(2):hover .smenu{
    display: block;
    position: absolute;
    z-index: 1;
}

.menu > li:nth-child(3):hover .smenu {
    display: block;
    position: absolute;
    z-index: 1;
}

.menu > li:first-child:hover .smenu > ul{
    display: flex;
}

.menu > li:nth-child(2):hover .smenu > ul {
    display: flex;
}

.menu > li:nth-child(2):hover .smenu > ul > li > a {
    white-space: nowrap;
}

.menu > li:nth-child(3) .smenu > ul {
    display: flex;
}

.menu .smenu li {
    padding: 41px 50px;
}

.gnb:hover {

    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}

.gnb:hover .left-menu .menu li a {
    color: #000;
}

.gnb:hover .right-menu .box {
    border-color: #000;
}

.gnb:hover .right-menu .box a {
    color: #000;
}

.gnb:hover .right-menu .box span {
    background-color: #000;
}

.gnb:hover .right-menu .ham span {
    background-color: #000;
}

.gnb .menu>li.sm:hover::after {
    display: block;
}

.gnb:hover::after {
    background-color: #fff;
    width: 100%;
    height: 95px;
}

.gnb .menu li.sm:hover::before {
    height: 200px;
    border: 1px solid red;
}


.menu > li > a {
    padding: 0 50px;
    display: block;
    height: 105px;
    line-height: 105px;
    font-size: 16px;
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 46px;
}

.right-menu .box {
    width: 80px;
    height: 32px;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    
}

.right-menu .box span {
    display: inline-block;
    width: 2px;
    height: 9px;
    background-color: #fff;
    margin: 0 5px;
}

.right-menu .box a {
    font-size: 11px;
    color: #fff;
}

.box-wrap > a {
    opacity: .4;
}

div.on {
    display: block;
}

.ham > a {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ham span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #fff;

}

.hiddenmenu {
    width: 105px;
    height: 100vh;
    background-color: black;
    opacity: .8;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: -2;
}

.hiddenmenu .snsmenu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.hiddenmenu .snsmenu li a {
    font-size: 25px;
    color: #fff;
}

.footer-main {
    width: 1700px;
    margin: 0 auto;
    position: relative;
}

.big-logo .logobig img {
    display: block;
    width: auto;
    height: 277px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-main .address-contact {
    position: absolute;
    top: 0;
    left: 470px;
}

.footer-menu .ftmenu {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
    column-gap: 56px;
}

.footer-menu .ftmenu li a {
    color: #fff;
    font-family: 'Noto Sans KR';
    font-weight: bold;
}

.address {
    margin-bottom: 20px;
}

.address h2, .contact h2 {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 7px;
}

.address address {
    font-style: normal;
    color: #fff;
    font-size: 13px;
    font-family: 'Noto Sans KR';
}

.address address:nth-of-type(1) {
    padding-bottom: 8px;
}

.contact span {
    color: #fff;
    font-size: 13px;
    font-family: 'Noto Sans KR';
}

.contact {
    margin-bottom: 75px;
}

.link .sns-link {
    display: flex;
    gap: 17px;
}

.link .sns-link li a {
    display:block;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
}

.link .sns-link li {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffc600;
    justify-content: center;
    align-items: center;
}

.link .sns-link li a.yt {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/youtube_mo.png) no-repeat center/cover;
}

.link .sns-link li a.fb {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/facebook_mo.png) no-repeat center/cover;
}

.link .sns-link li a.tw {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/twitter_mo.png) no-repeat center/cover;
}

.link .sns-link li a.th {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/twitch_mo.png) no-repeat center/cover;
}

.link .sns-link li a.in {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/insta_mo.png) no-repeat center/cover;
}

.link .sns-link li a.ti {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/tictok_mo.png) no-repeat center/cover;
}

.copyright {
    margin-top: 40px;
}

.copyright span {
    color: #fff;

}




