@charset "utf-8";

@import url('reset.css');

body {
    background-color: #000;
    font-size: 16px;
    font-family: 'Pretendard';
}

.main-header {
    width: 100%;
    background-color: transparent;
    border-bottom: 4px solid rgb(255, 255, 255,.5);
    position: absolute;
    top: 0;
    z-index: 3;
}

.main-header .header-inner {
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .header-inner .logo {
    width: 127px;
    height: 100%;
}

.main-header .header-inner .logo a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px 0;
}

.main-header .header-inner .logo a img {
    width: 127px;
    height: 50px;
}

.main-header .header-inner .center-menu {
    height: 100px;
}

.main-header .header-inner .center-menu .menu-list {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-header .header-inner .center-menu .menu-list li {
    height: 100%;
}

.main-header .header-inner .center-menu .menu-list li a {
    padding: 39px 60px;
    color: #fff;
    font-size: 1.12rem;
    letter-spacing: -6%;
    font-weight: bold;
    line-height: 100px;
}

.main-header .header-inner .center-menu .menu-list li .hidden-ul {
    background-color: #000;
    opacity: .5;
    position: absolute;
    z-index: 1;
}

.main-header .header-inner .right-menu {
    display: flex;
    gap: 84.5px;
    align-items: center;
}

.main-header .header-inner .right-menu .lang {
    display: flex;
    align-items: center;
}

.main-header .header-inner .right-menu .lang a {
    color: #fff;
    font-size: 1.12rem;
    font-weight: bold;
    padding: 19px;
}

.main-header .header-inner .right-menu .lang span {
    display: block;
    width: 1px;
    height: 11.5px;
    background-color: #fff;
    opacity: .5;
}

.main-header .header-inner .right-menu .lang a:nth-of-type(2) {
    opacity: .5;
}

.main-header .header-inner .right-menu .ham {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-header .header-inner .right-menu .ham span:nth-child(1),
.main-header .header-inner .right-menu .ham span:nth-child(3) {
    display: block;
    width: 29px;
    height: 2px;
    background-color: #fff;
}

.main-header .header-inner .right-menu .ham span:nth-child(2) {
    display: block;
    width: 19px;
    height: 2px;
    background-color: #fff;
}