@charset "utf-8";

.scroll::-webkit-scrollbar {
    display: none;
  }

body {
    overflow-x: hidden;
}

html,body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html,body,h1,h2,h3,h4.h5,p,ul,li {
    margin: 0;
    padding: 0;
    line-height: 1;
}
 
h2 {
    margin: 0;
    padding: 0;
}

ul,li,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

button {
    background: inherit; 
    border:none; 
    box-shadow:none;
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer;
}

img {
    vertical-align: top;
}