@charset "utf-8";

@import url('reset.css');
@import url('common.css');

body {
    background-color: #f6f6f6;
}

.slides {
    position: relative;
}

.slides .slide {
    background: url(../img/slide_01.png) no-repeat center/cover;
    width: 100%;
    height: 910px;
    position: relative;
}

.slide-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.slide-contents h2 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 90px;
    letter-spacing: -4px;
    white-space: nowrap;
    margin-bottom: 40px;
}

.slide-contents p {
    color: #fff;
    text-align: center;
    line-height: 1.3;
    font-size: 19px;
    font-family: 'Noto Sans KR';
    margin-bottom: 50px;
}
.view-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.view-more {
    text-align: center;
    width: 210px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 42px;
    border-radius: 30px;
    transition: .4s ease-in-out;
    position: relative;
    overflow: hidden;
}

.main-slides .view-more:hover::after {
    content: '';
    border: none;
    display: block;
    background-color: #fdc800;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: overflow .5s ease-out;
}

.media .view-more:hover::after,
.news .view-more:hover::after {
    content: '';
    border: none;
    display: block;
    background-color: #fdc800;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: overflow .5s ease-out;
}

@keyframes overflow {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
    
}

.main-slides .view-more:hover a {
    color: #000;
}


.view-more a {
    color: #fff;
    display: block;
    width: 212px;
    height: 42px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.icons {
    background: url(../img/arrow-down.png) no-repeat;
    width: 38px;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
}

.icons a {
    display: block;
    text-indent: -9999em;
}

.main {
    width: 1500px;
    margin: 0 auto;
}

.esports-teams,
.business,
.shopping,
.media {
    padding-top: 284px;
}

.media {
    padding-bottom: 193px;
}

.media, .news, #footer {
    background-color: #0c0c0c;
}

.esports-teams h2,
.business h2,
.shopping h2,
.media h2,
.news > .news-header h2 {
    text-align: left;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -5px;
    margin-bottom: 48px;
}

.media h2,
.news > .news-header h2 {
    color: #fff;
    padding-bottom: 118px;
}



.esports-teams .information,
.business .information,
.shopping .information,
.media .information,
.news .information {
    display: flex;
    align-items: center;
    margin-bottom: 63px;
}

.esports-teams .information span,
.business .information span,
.shopping .information span,
.media .information span,
.news .information span {
    display: inline-block;
    width: 212px;
    height: 4px;
    background-color: #10305c;
    vertical-align: middle;
}

.esports-teams .information p,
.business .information p,
.shopping .information p,
.media .information p,
.news .information p {
    margin-left: 50px;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: lighter;
    font-size: 23px;
}

.divide-wrapper .divide {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 821px;
}

.divide-wrapper .divide li {
    flex-basis: 100%;
    flex: 1;
    background: url(../img/team_01.jpg) no-repeat center/cover;
    position: relative;
    transition: all .4s ease-in-out;
}

.divide-wrapper .divide li:hover {
    flex: 2;
}

.divide-wrapper .divide li::before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: .4;
    transition: all .4s ease-in-out;
}

.divide-wrapper .divide li:hover::before {
    opacity: 0;
}

.divide-wrapper .divide li a {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    letter-spacing: -6px;
}

.esports-btn {
    position: absolute;
    background: url(../img/esports_btn_01.png) no-repeat;
    display: block;
    width: 49px;
    height: 51px;
    margin-top: 198px;
}

.business-outer {
    position: relative;
}

.business-left-btn {
    display: block;
    width: 62px;
    height: 116px;
    background: url(../img/left_btn.png) no-repeat;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
}

.business-right-btn {
    display: block;
    width: 62px;
    height: 116px;
    background: url(../img/right_btn.png) no-repeat;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
}

.business .business-wrapper {
    width: 831px;
    height: 802px;
    background-color: rgb(0,0,0,.4);
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}


.business .business-wrapper .business-slide {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.business .business-wrapper .business-slide li {
    flex-shrink: 0;
    flex-basis: 100%;
    border-radius: 30px;
    position: relative;
}

.business .business-wrapper .business-slide li.slide1 {
    background: url(../img/info_slide_01.jpg) no-repeat center/cover;
}

.business .business-wrapper .business-slide li.slide2 {
    background: url(../img/info_slide_02.jpg) no-repeat center/cover;
}

.business .business-wrapper .business-slide li.slide3 {
    background: url(../img/info_slide_03.jpg) no-repeat center/cover;
}

.business .business-wrapper .business-slide li.slide4 {
    background: url(../img/info_slide_04.jpg) no-repeat center/cover;
}

.business .business-wrapper .business-slide li::before {
    content:'';
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    opacity: .5;
    transition: all .4s ease-in-out;
}
.business .business-wrapper .business-slide li:hover::before {
    opacity: 0;
}

.business .business-wrapper .business-slide li > span {
    font-size: 90px;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    letter-spacing: -6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 298px;
    white-space: nowrap;
}


.business .business-wrapper .business-slide li a {
    color: #402c83;
    font-weight: bold;
    font-family: 'Noto Sans KR';
}

.business .business-wrapper .business-slide li a > span {
    font-size: 25px;
}

.business .business-wrapper .business-slide li .view-buttons {
    width: 177px;
    height: 57px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 416px;
}

.business .business-wrapper .business-slide li .view-wrap {
    height: 25px;
 
}

.business .business-wrapper .business-slide li .view-wrap span {
    font-size: 25px;
    letter-spacing: -1px;

}

.business .business-wrapper .business-slide li .view-buttons .plus {
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 12px;
}

.business .business-wrapper .business-slide li .view-buttons .plus span:first-child {
    display: inline-block;
    width: 18px;
    height: 4px;
    background-color:#402c83;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.business .business-wrapper .business-slide li .view-buttons .plus span:last-child {
    position: absolute;
    width: 4px;
    height: 18px;
    background-color:#402c83;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.business .business-wrapper .business-slide li .view-buttons > span {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.bullet-wrapper {
    margin: 0 auto;
    width: 833px;
    height: 7px;
    position: relative;
    margin-top: 180px;
}

.bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2px;
    background: #ededed;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bullet > li {
    flex: 1;
}

.bullet > li.act {
    display: block;
    height: 7px;
    background-color: #250088;
    transition: all .4s ease-in-out;
}

.shopping {
    padding-bottom: 188px;
}

.shop {
    display: grid;
    width: 1500px;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 18px;
}

.shop-wrapper .shop .shop-common {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 16px rgb(0,0,0,.16);
    width: 330px;
}

.shop-wrapper .shop .shop-common .overflow {
    width: 330px;
    height: 331px;
    overflow: hidden;
    position: relative;
}

.shop-wrapper .shop .shop-common .img-insert {
    width: 458px;
    height: 452px;
    background: url(../img/shop1-1.png) no-repeat center/cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.shop-wrapper .shop .shop-common img {
    width: 47px;
    height: 47px;
    margin-bottom: 42px;
}

.shop-wrapper .shop .shop-common span:nth-of-type(1) {
    margin-bottom: 26px;
    font-family: 'Noto Sans KR';
    font-size: 22px;
}

.shop-wrapper .shop .shop-common span:nth-of-type(2) {
    margin-bottom: 60px;
    color: #a0a0a0;
    font-size: 18px;
    font-family: 'Noto Sans KR';
}

.media-header,
.news-header {
    display: flex;
    justify-content: space-between;
}

.media-header .view-wrapper,
.news-header .view-wrapper {
    height: 60px;
    margin-top: 18px;
}

.media-parent {
    position: relative;
    height: 400px;
}
.media-parent .media-wrapper1 {
    width: 600px;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.media-parent .media-wrapper2 {
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 82px;
    overflow: hidden;
}

.media-parent .media-wrapper1 .media-slide1 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.media-parent .media-wrapper2 .media-slide2 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.media-parent .media-wrapper .media-slide1 li {
    flex-basis: 100%;
}

.media-parent .media-wrapper1 .media-slide1 li div {
    width: 600px;
    height: 300px;
    position: relative;
}

.media-parent .media-wrapper2 .media-slide2 li div {
    width: 400px;
    height: 200px;
    position: relative;
}

.media-parent .media-wrapper1 .media-slide1 li div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.media-parent .media-wrapper2 .media-slide2 li div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.media-parent .media-wrapper li div span {
    display: none;
}

.media-parent .media-wrapper1 .media-slide1 li:hover div::after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .4;
}


.media-parent .media-wrapper2 .media-slide2 li:hover div::after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .4;
}

.media-parent .media-wrapper1 .media-slide1 li:hover div span {
    position: absolute;
    display: block;
    z-index: 1;
    top: 15px;
    left: 25px;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-size: 20px;
}

.media-parent .media-wrapper2 .media-slide2 li:hover div span {
    position: absolute;
    display: block;
    z-index: 1;
    top: 15px;
    left: 25px;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-size: 20px;
}


.media-lbtn {
    position: absolute;
    top: 112px;
    right: 344px;
    width: 21px;
    height: 21px;
    background: url(../img/new_arrow_left.png) no-repeat;
    display:block;
	overflow:hidden;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
}

.media-rbtn {
    position: absolute;
    top: 112px;
    right: 251px;
    width: 21px;
    height: 21px;
    background: url(../img/new_arrow_right.png) no-repeat;
    display:block;
	overflow:hidden;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
}

.news {
    padding-bottom: 356px;
}

.news-con {
    width: 100%;
    height: 100vh;
    position: relative;
}

.news-con .news-grid li {
    position: absolute;
    transition: all .5s;
}

.news-con .news-grid li:first-child {
    display: block;
    width: 956px;
    height: 372px;
    top: 0;
    left: 0;
    background: url(../img/news_01.jpg) no-repeat center/cover;
}

.news-con .news-grid li:nth-child(2) {
    display: block;
    width: 960px;
    height: 605px;
    top: 0;
    right: 0;
    background: url(../img/news_02.jpg) no-repeat center/cover;
}

.news-con .news-grid li:nth-child(3) {
    display: block;
    width: 956px;
    height: 536px;
    bottom: 0;
    left: 0;
    background: url(../img/news_03.jpg) no-repeat center/cover;
}


.news-con .news-grid li:last-child {
    display: block;
    width: 960px;
    height: 303px;
    bottom: 0;
    right: 0;
    background: url(../img/news_04.jpg) no-repeat center/cover;
}

.news-con .news-grid li:first-child .open span {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 30px;
}

.news-con .news-grid li:nth-child(2) .open span {
    position: absolute;
    color: #fff;
    left: 32px;
    bottom: 32px;
    transform: rotate(90deg);
}

.news-con .news-grid li:nth-child(3) .open span {
    position: absolute;
    color: #fff;
    right: 32px;
    top: 32px;
    transform: rotate(90deg);
}

.news-con .news-grid li:last-child .open span {
    position: absolute;
    color: #fff;
    left: 32px;
    top: 32px;
}

.news-con .news-grid li:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.news-con .news-grid li:hover .closed {
    display: block;
    position: absolute;
    z-index: 2;
}


.news-con .news-grid li:hover .closed > * {
    color: #000;
    white-space: nowrap;
}

.news-con .news-grid li:hover .closed h3 {
    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 339px;
    top: 160px;
}

.closed {
    display: none;
}
