@charset "utf-8";

@import url('reset.css');
@import url('common.css');

.mainpage .hidden-menu {
    display: none;
}

.mainpage .hidden-menu.on {
    width: 100%;
    height: 970px;
    position: fixed;
    display: block;
    z-index: 4;
}

.mainpage .hidden-menu.on::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,.8);
    z-index: 3;
}

.mainpage .hidden-menu.on .hidden-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 105px;
}

.mainpage .hidden-menu.on .hidden-inner > ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mainpage .hidden-menu.on .hidden-inner > ul > li > a {
    color: #fff;
    display: inline-block;
    width: 260px;
    height: 44px;
    text-align: left;
    font-size: 1.25rem;
    border-bottom: 2px solid rgb(255,255,255,.8);
}

.mainpage .hidden-menu.on .hidden-inner > ul > li > ul {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding-top: 30px;
}

.mainpage .hidden-menu.on .hidden-inner > ul > li > ul > li > a {
    color: #ddd;
    font-size: 1.12rem;
}

.mainpage .hidden-menu.on .hidden-inner > ul > li > ul > li > ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 18px;
}

.mainpage .hidden-menu.on .hidden-inner > ul > li > ul > li > ul li a {
    color: rgb(255,255,255,.5);
    font-size: 1rem;
}

.mainpage .visual {
    width: 100%;
    height: 970px;
    position: relative;
    overflow: hidden;
}

.mainpage .visual .visual-list {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
}

.mainpage .visual .visual-list li {
    width: 100%;
    height: 100%;
    background: url(../img/main_ban_01.jpg) no-repeat center/cover;
    position: relative;
    flex-basis: 100%;
    flex-shrink: 0;
}

.mainpage .visual .visual-list li .visual-contents {
    position: absolute;
    top: 468px;
    left: 250px;
}

.mainpage .visual .visual-list li .visual-contents > span {
    display: block;
}

.mainpage .visual .visual-list li .visual-contents > span:nth-of-type(1) {
    color: #fff;
    font-size: 3.125rem;
    letter-spacing: -3%;
    font-weight: bold;
    margin-bottom: 12px;
}

.mainpage .visual .visual-list li .visual-contents > span:nth-of-type(2) {
    background: linear-gradient(90.06deg, #007FBF 8.53%, #009580 63.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
    font-size: 3.43rem;
    letter-spacing: -2%;
    margin-bottom: 56px;
}

.mainpage .visual .visual-list li .visual-contents .bullet {
    display: flex;
    gap: 12px;
    align-items: center;
}

.mainpage .visual .visual-list li .visual-contents .bullet .bar > span {
    color: #fff;
}

.mainpage .visual .visual-list li .visual-contents .bullet .bar.on {
    position: relative;
}

.mainpage .visual .visual-list li .visual-contents .bullet .bar .barbx {
    position: relative;
    display: inline-block;
    width: 0;
    height: 2px;
    vertical-align: 5px;
    transition: .7s;
    margin-left: 5px;
}
.mainpage .visual .visual-list li .visual-contents .bullet .bar.on .barbx {
    width: 79px;
}
.mainpage .visual .visual-list li .visual-contents .bullet .bar.on .barbx span.bar-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;

}

.mainpage .visual .visual-list li .visual-contents .bullet .bar.on .barbx  span.progressive {
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    animation: progressive 3s ease-in-out forwards;
}

@keyframes progressive {
    from {
        width: 0px;
    }
    to {
        width: 79px;
    }
}

.mainpage .visual .visual-list li .visual-contents .bullet .stop {
    width: 9px;
    height: 12px;
    display: flex;
    gap: 5px;
}

.mainpage .visual .visual-list li .visual-contents .bullet .stop .stop-bar {
    width:4px;
    height: 100%;
    background-color: #fff;
}

.mainpage .business {
    width: 100%;
    height: 1281px;
    background: url(../img/bg_main_business.jpg) no-repeat center/cover;
}


.mainpage .business .business-inner {
    padding: 0 250px;
    margin: 0 auto;
}


.mainpage .business .business-inner > h2 {
    padding-top: 196px;
    font-size: 4.375rem;
    font-weight: 800;
    letter-spacing: -7%;
    color: #fff;
}

.mainpage .business .business-inner > h2 span {
    font-weight: 100;
}

.mainpage .business .business-inner > h3 {
    padding-top: 51px;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
    background: linear-gradient(90deg, #007BBB 1%, #00A256 8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mainpage .business .business-inner > p {
    padding-top: 19px;
    font-size: 2rem;
    color: #fff;
    letter-spacing: -0.07rem;
}

.mainpage .business .business-inner > p span {
    font-weight: 800;
}

.mainpage .business .business-inner .business-con {
    margin-top: 57px;
}

.mainpage .business .business-inner .business-con .business-list {
    display: flex;
    gap: 21px;
    justify-content: center;
}
.mainpage .business .business-inner .business-con .business-list li .con .img {
    position: relative;
    overflow: hidden;
}

.mainpage .business .business-inner .business-con .business-list li:first-child .con .img {
    width: 265px;
    height: 429px;
    background: url(../img/main_business_img1.jpg) no-repeat center/cover;
    margin-bottom: 26px;
}

.mainpage .business .business-inner .business-con .business-list li:nth-child(2) .con .img {
    width: 265px;
    height: 429px;
    background: url(../img/main_business_img2.jpg) no-repeat center/cover;
    margin-bottom: 26px;
}

.mainpage .business .business-inner .business-con .business-list li:nth-child(3) .con .img {
    width: 265px;
    height: 429px;
    background: url(../img/main_business_img3.jpg) no-repeat center/cover;
    margin-bottom: 26px;
}

.mainpage .business .business-inner .business-con .business-list li:nth-child(4) .con .img {
    width: 265px;
    height: 429px;
    background: url(../img/main_business_img4_0919.jpg) no-repeat center/cover;
    margin-bottom: 26px;
}

.mainpage .business .business-inner .business-con .business-list li:nth-child(5) .con .img {
    width: 265px;
    height: 429px;
    background: url(../img/main_business_img5_0919.jpg) no-repeat center/cover;
    margin-bottom: 26px;
}

.mainpage .business .business-inner .business-con .business-list li .con > h3 {
    font-size: 1rem;
    letter-spacing: -7%;
    color: rgb(255,255,255,.3);
    font-weight: normal;
    margin-bottom: 16px;
}

.mainpage .business .business-inner .business-con .business-list li .con > h2 {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: -7%;
    font-weight: bold;
    margin-bottom: 12px;
}

.mainpage .business .business-inner .business-con .business-list li .con p {
    width: 265px;
    font-size: 0.91rem;
    letter-spacing: -7%;
    line-height: 1.5;
    color: rgb(255,255,255,.8);
}

.mainpage .business .business-inner .business-con .business-list li .con .img .click-search {
    display: none;
}

.mainpage .business .business-inner .business-con .business-list li:hover .con .img .click-search {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1982c2;
    opacity: .8;
    cursor: pointer;
}

.mainpage .business .business-inner .business-con .business-list li:hover .con .img .click-search img {
    position: absolute;
    left: 116px;
    top: 188px;
}

.mainpage .business .business-inner .business-con .business-list li:hover .con .img .click-search span {
    position: absolute;
    top: 222px;
    left: 81px;
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
    line-height: 19px;
    letter-spacing: -7%;
}

.mainpage .management {
    width: 100%;
    height: 1006px;
    background: url(../img/bg_main_esg.jpg) no-repeat center/cover;
}

.mainpage .management > h2 {
    text-align: center;
    padding-top: 215px;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.15rem;
    font-weight: 800;
    background-image: linear-gradient(90deg,#007bbb 40%,#00a256 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainpage .management > p {
    padding-top: 19px;
    padding-bottom: 52px;
    text-align: center;
    font-size: 2.1875rem;
    color: #fff;
    letter-spacing: -0.02rem;
    line-height: 2.625rem;
}

.mainpage .management > p span {
    font-weight: 800;
}

.mainpage .management .box-inner {
    padding: 0 15.625rem;
    margin: 0 auto;
}

.mainpage .management .box-inner  .real-box {
    background-color: rgba(0,0,0,.2);
}

.mainpage .management .box-inner .real-box .real-box-inner {
    padding: 3.75rem 1.825rem;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list {
    display: flex;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li {
    flex: 1;
    position: relative;
    padding: 27px 0;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper {
    text-align: center;
    height: 100%;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper img {
    margin-bottom: 27px;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper h2 {
    font-size: 1.375rem;
    color: #fff;
    line-height: 1.625rem;
    letter-spacing: -0.07rem;
    padding-bottom: 0.5625rem;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper > span {
    display: block;
    font-size: 1rem;
    color: rgba(255,255,255,.5);
    letter-spacing: 0.03rem;
    padding-bottom: 1.1rem;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper .detail-wrap {
    border: 1px solid #888d8d;
    display: inline-block;
    padding: 11px 43px;
    transition: all .4s;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper .detail-wrap span {
    color: rgba(255,255,255,.5);
    font-size: 0.75rem;
    line-height: 1.2rem;
    letter-spacing: -0.01rem;
    transition: all .4s;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper .detail-wrap a {
    display: inline-block;
    text-indent: -9999em;
    width: 7px;
    height: 11px;
    background: url(../img/btn_right.png) no-repeat;
    vertical-align: middle;
    margin-left: 5px;
}


.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper .detail-wrap:hover {
    background-color: #fff;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .con-wrapper .detail-wrap:hover span {
    color: #000;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar {
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    
}   

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar .first-bar {
    position: absolute;
    background-color: transparent;
    right: 0;
    left: 0;
    height: 48%
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar .first-bar-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.25);
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar .bar-blue {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #0470ad;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar .second-bar {
    position: absolute;
    height: 48%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar .second-bar .second-bar-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.25);

}

.mainpage .management .box-inner .real-box .real-box-inner .real-box-list li .right-bar .second-bar .bar-green {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #068d47;
}

.mainpage .ir-information {
    width: 100%;
    height: 988px;
    background: url(../img/bg_main_ir.jpg) no-repeat center/cover;
}

.mainpage .ir-information .ir-inner {
    padding: 0 240px;
    padding-top: 168px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper {
    width: 100%;
    height: 100%;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex {
    display: flex;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex > li:first-child {
    padding-right: 148px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex > li:first-child > h2 {
    padding-top: 142px;
    font-size: 1rem;
    background-image: linear-gradient(90.04deg, #007BBB 4%, #00A256 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0.15rem;
    line-height: 19px;
    font-weight: 800;
    padding-bottom: 14px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex > li:first-child p {
    color: #fff;
    font-size: 2.1875rem;
    line-height: 2.6875rem;
    padding-bottom: 121px;
    white-space: nowrap;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex > li:first-child p span {
    font-weight: 800;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li .flex-menu {
    display: flex;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(1) {
    background: url(../img/bg_main_ir_banner1.jpg) no-repeat center/cover;
    width: 361px;
    height: 439px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(2) {
    background: url(../img/bg_main_ir_banner2.jpg) no-repeat center/cover;
    width: 361px;
    height: 439px;
    margin-left: 25px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(n+1) {
    position: relative;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(n+1) h2 {
    position: absolute;
    left: 12.47%;
    top: 12.93%;
    color: #fff;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(n+1) p {
    position: absolute;
    left: 12.74%;
    top: 23.58%;
    color: rgba(255,255,255,.4);
    font-weight: 400;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(n+1) .add-search-icons {
    position: absolute;
    right: 31px;
    bottom: 31px;
    width: 50px;
    height: 50px;
    background-color: #007dc6;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .first-flex .flex li li:nth-child(n+1) .add-search-icons .search-link {
    display: block;
    text-indent: -9999em;
    width: 23px;
    height: 23px;
    background: url(../img/search.png) no-repeat;
    position: absolute;
    padding: 14px;
}
    
.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider {
    padding-top: 20px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider > h2 {
    font-weight: 700;
    font-size: 1.5625rem;
    color: #fff;
    letter-spacing: -0.02rem;
    line-height: 2.6875rem;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider > span {
    line-height: 2.6875rem;
    font-size: 1.125rem;
    color: rgba(255,255,255,.5);
    letter-spacing: 0.02rem;
    padding-bottom: 35px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper {
    width: 100%;
    height: 100%;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider {
    display: flex;
    gap: 45px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li {
    flex: 1;
    border: 1px solid rgba(255,255,255,.5);
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li .news-inner {
    padding-left: 26px;
    padding-top: 30px;
    padding-bottom: 23px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li .news-inner .elipse-wrapper1 h2 {
    color: #fff;
    font-size: 1.126rem;
    width: 259px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li .news-inner .elipse-wrapper2 span {
    display: block;
    line-height: 2.6875rem;
    font-size: 0.875rem;
    color: rgba(255,255,255,.5);
    width: 271px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 68px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li .news-inner .timer-wrap {
    display: flex;
    gap: 7px;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li .news-inner .timer-wrap .timer-img {
    width: 14px;
    height: 15px;
    background: url(../img/timer.png) no-repeat;
}

.mainpage .ir-information .ir-inner .all-contents-wrapper .second-slider .slider-wrapper .news-slider li .news-inner .timer-wrap span {
    color: rgba(255,255,255,.5);
}

.mainpage .pr-center {
    width: 100%;
    height: 1092px;
    background: url(../img/bg_main_pr.jpg) no-repeat center/cover;
}

.mainpage .pr-center > h2 {
    padding-top: 145px;
    padding-bottom: 19px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    line-height: 1.1875rem;
    background: linear-gradient(90deg, #007BBB 45%, #00A256 52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mainpage .pr-center > p {
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.6875rem;
    letter-spacing: -0.02rem;
    font-weight: 500;
    color: #fff;
    padding-bottom: 62px;
}

.mainpage .pr-center > p span {
    font-weight: 800;
}

.mainpage .pr-center .pr-flex-inner {
    padding: 0 265px;
    margin: 0 auto;
}

.mainpage .pr-center .pr-flex-inner .pr-flex {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 60px;
}

.mainpage .pr-center .pr-flex-inner .pr-flex > div {
    flex: 1;
}

.mainpage .pr-center .pr-flex-inner .pr-flex .pr-flex-left {
    display: flex;
    flex-direction: column;
}

.mainpage .pr-center .pr-flex-inner .pr-flex .pr-flex-left .pr-flex-left-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px solid #fff;
}

.mainpage .pr-center .pr-flex-inner .pr-flex .pr-flex-left .pr-flex-left-menu .pr-flex-left-menu-all {
    display: flex;
    gap: 24px;
}

.mainpage .pr-center .pr-flex-inner .pr-flex .pr-flex-left .pr-flex-left-menu .pr-flex-left-menu-all li a {
    padding: 11px 0;
    color: #fff;
    font-size: 1.375rem;
    line-height: 2.6875rem;
    letter-spacing: 0.02rem;
}

.mainpage .pr-center .pr-flex-inner .pr-flex .pr-flex-left .pr-flex-left-menu .plus-box {
    display: inline-block;
    border: 1px solid #fff;
}

.mainpage .pr-center .pr-flex-inner .pr-flex .pr-flex-left .pr-flex-left-menu .plus-box a {
    display: inline-block;
    text-indent: -9999em;
    width: 15px;
    height: 15px;
    background: url(../img/plus.png) no-repeat;
    padding: 16px;
}