@charset "utf-8";

@import url('reset.css');
@import url('common.css');

body {
    background-color: #f6f6f6;
}

.slides {
    position: relative;
}

.slides > div:nth-of-type(1) {
    position: absolute;
    top: 184px;
    left: 0;
}

.slides > div:nth-of-type(2) {
    position: absolute;
    bottom: 240px;
    right: 0;
}

.slides .slide {
    background: url(../img/team_lck.png) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
    position: relative;
}

.slides .slide:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .75;
}

.slide-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background: url(../img/team_lck.png) no-repeat center/212%;
}

.slide-contents h2 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 90px;
    letter-spacing: -4px;
    white-space: nowrap;
    padding: 59px;
}

.slide-contents a {
    display:block;
    width: 24px;
    height: 11px;
    background: url(../img/scroll_arrow_w.png) no-repeat;
	overflow:hidden;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
    position: absolute;
    bottom: -214px;
    left: 50%;
    animation: btnAni 1s ease-in infinite;
}

.roasterfirst {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(to right,#121815,#1d1e2b);
    padding-top: 150px;
    padding-bottom: 73px;
}

.roasterfirst .roaster-wrapper {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
}

.roasterfirst .roaster-wrapper > h2 {
    font-family: 'Pretendard-Regular';
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    padding-bottom: 42px;
    box-sizing: border-box;
}

.roasterfirst .roaster-wrapper > div {
    width: 100%;
    height: calc(60vh - 98px);
    overflow: hidden;
    position: relative;
}

.roasterfirst .roaster-wrapper > div .roasterlist {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.roasterfirst .roaster-wrapper > div .roasterlist li {
    flex-basis: 30%;
    flex-shrink: 0;
    margin: 0 30px;
    position: relative;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div {
    height: 100%;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > h2 {
    position: absolute;
    left: 10px;
    top: 5px;
    writing-mode: vertical-lr;       
    color: transparent;
    font-size: 25px;
    text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
    z-index: 1111;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(1) {
    position: relative;
}



.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(1) {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    background: url(../img/roaster_1.webp) no-repeat center/cover;
    background-position: -78px 0;
    background-color: #1c2236;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(2) {
    height: 25%;
    position: relative;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(1) > h2 {
    color: #fff;
    position: absolute;
    left: 55%;
    top: 4.5vh;
    font-family: 'Noto Sans KR';
    font-size: 26px;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(1) > h3 {
    color: #000;
    opacity: .4;
    position: absolute;
    left: 55%;
    top: 8vh;
    font-family: 'Noto Sans KR';
    font-size: 17px;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(1) > h4 {
    color: #fff;
    position: absolute;
    left: 55%;
    top: 5vh;
    font-size: 39px;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(2) > h2 {
    position: absolute;
    left: 10px;
    top: 35px;
}

.roasterfirst .roaster-wrapper > div .roasterlist li > div > div:nth-of-type(2) > span {
    position: absolute;
    left: 10px;
    top: 65px;
}

.roasterfirst .roaster-wrapper .rlobtn {
    position: absolute;
    top: 0;
    right: 42px;
    width: 50px;
    height: 50px;
    background: url(../img/arr_black_left.png) no-repeat center;
    background-color: white;
    border-radius: 50%;
    transform: rotate(180deg);
}

.roasterfirst .roaster-wrapper .rrobtn {
    position: absolute;
    top: 0;
    right: 96px;
    width: 50px;
    height: 50px;
    background: url(../img/arr_black_left.png) no-repeat center;
    background-color: white;
    border-radius: 50%;
}

.roasterfirst .roaster-wrapper a {
    display: block;
    overflow: hidden;
    font-size: 1;
    text-indent: -9999em;
}

